/*
Author: T.T. Ouzounellis Kavlakonis
Date: 19th of January
*/
/* to override Bootstrap styles for some things */

.space-above {
    margin-top: 20px;
    padding-top: 20px;
  }
  
  .blocker {
    display: block;
  }